@import '../../../../assets/BaseStyles/Mixins.module.scss';

.DialogsList {
  &__List {
    @include list-reset;
    margin-right: 10px;
  
    li {
      margin-bottom: 10px;
    }
  }

  &__WrapperText {
    height: 75%;
    display: flex;
    align-items: center;   
  }

  &__NotMessageText {
    width: 100%;
    text-align: center;
    opacity: 0.5;
  }
}

