@import '../../assets/BaseStyles/Variables.module.scss';

.MainPage {
  &__Header {
    background-image: url(../../../public/img/globe-back-desktop@1x.jpg);
    min-height: 750px;
    position: relative;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url(../../../public/img/globe-back-desktop@2x.jpg);
    }

    &::before {
      content: '';
      display: block;
      width: 431px;
      height: 640px;
      background-image: url(../../../public/img/traveller-illustration-desktop@1x.png);
      background-size: 431px 640px;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      left: 50%;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url(../../../public/img/traveller-illustration-desktop@2x.png);
      }
    }
  }

  &__Title {
    font-size: 60px;
    line-height: 70px;
    padding: 108px 0 0 127px;
    max-width: 400px;
  }
}