@import "../../../assets/BaseStyles/Variables.module.scss";
@import "../../../assets/BaseStyles/Mixins.module.scss";

.ErrorModal {
  width: 100%;
  height: calc(100% + 55px);
  background-color: $dark-blue-grey-70;
  position: absolute;
  top: 0;
  z-index: 1;

  &__Modal {
    width: 400px;
    height: 250px;
    padding: 30px;
    background-color: $dark-blue-grey;
    border: 2px solid $mango;
    border-radius: 15px;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      @include bold-text;
      margin-top: 0
    }

    p {
      @include medium-text;
      text-align: center;
    }
  }
}