@import "../../assets/BaseStyles/Mixins.module.scss";
@import "../../assets/BaseStyles/Variables.module.scss";

.Dialogs {
  display: flex;
  flex-direction: column;
  height: inherit;
  box-sizing: border-box;
  padding-bottom: 170px;
  position: relative;
}

.Dialogs__List {
  @include list-reset;
  overflow: overlay;

  &::-webkit-scrollbar {
    @include scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
  }
}

.Dialogs__Form {
  position: absolute;
  bottom: 0;

  width: 100%;
}
