@import '../../../../assets/BaseStyles/Variables.module.scss';
@import '../../../../assets/BaseStyles/Mixins.module.scss';

.DialogItem {
  &__Link {
    @include light-text-link;
    font-size: 20px;
    color: $light-gold;
    text-decoration: none;
    display: flex;
    align-items: center;
  
    &:hover {
      color: $mango;
    }
  }
  
  &__LinkActive {
    @include light-text-link;
    font-size: 20px;
    color: $mango;
    display: flex;
    align-items: center;
  }

  &__Img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__messageText {
    @include light-text;
    font-size: 20px;
    color: $light-gold;
    min-height: 29px;
  }
}
