@import './assets/BaseStyles/Variables.module.scss';
@import './assets/BaseStyles/Mixins.module.scss';

.App {
  &__Wrapper {
    display: grid;
    grid-template-areas: "nav content";
    grid-template-columns: 3fr 9fr;
    gap: 30px;
    @include wrapper;
    padding: 30px;
    height: calc(100vh - 150px);
  }

  &__Content {
    grid-area: content;
    position: relative;
    height: inherit;
  }
}