// Базовые размеры

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Базовые цвета
$white: #ffffff;
$dark-blue-grey: #192144;
$dark-blue-grey-70:rgba(25, 33, 68, 0.7);
$dark-two: #161c35;
$mango: #ff8d30;
$mango-two: #ffbd30;
$light-gold: #ffd74b;